/* reset css */
body,
h1 {
  margin: 0;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
}

figure {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common */
body {
  background-color: #e5e5e5;
}

.base-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

/* 전체 form 구현 */
.wrapper {
  width: 400px;
  height: 200px;
  background-color: #ffffff;

  margin: 100px auto;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.login-area {
  width: 90%;
  height: 70%;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;

  margin: 30px auto;
  padding: 0px 15px;

  box-sizing: border-box;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.login-title {
  margin-top: 19px;
  margin-bottom: 16px;
}

/* button */
.login-button {
  width: 100%;
  height: 40px;
  background: #711bff;
  color: #ffffff;
  border-radius: 4px;
}

.weniv-logo {
  width: 64px;
  height: 18px;
  vertical-align: bottom;
  margin-right: 4px;
}

/* 아이디, 비밀번호, 회원가입 */
.login-sub_area {
  overflow: hidden;
  margin: 18px 0px;
  color: #767676;
}

.login-find_info {
  float: left;
}

.login-signup {
  float: right;
}

figure > img {
  width: 16px;
  height: 16px;

  vertical-align: top;
}

figure > figcaption {
  display: inline-block;
  vertical-align: middle;
}
