:root {
  font-family: "Montserrat", sans-serif;
  /*
	font-weight: 500;
	font-weight: 700;
	*/

  background-color: #673399;
}

/* common */
.wrapper {
  width: 1080px;
  height: 780px;

  margin: auto;

  border: 1px solid black;
  padding: 3px;
}

base-font {
  font-weight: 500;
}

base-font_bold {
  font-weight: 700;
}

/* header */

.portfolio-header {
  padding: 100px 0px;
  display: flex;
  align-items: center;

  border: 1px solid black;
}

.header-title {
  font-size: 40px;
  color: #ffffff;
  position: relative;
  line-height: 45px;
}

.header-title::before {
  content: " ";
  background-color: #ff4500;
  z-index: -1;
  height: 20px;
  width: 244px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-title::after {
  content: " ";
  background-color: #ff4500;
  z-index: -1;
  height: 20px;
  width: 190px;
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  bottom: 0;
}

/* .under-bar {
  width: 83px;
  height: 2px;
  background-color: white;
  margin: 0px 50px;
} */

.header-text {
  font-size: 14px;
  color: #ffffff;
}

.header-text::before {
  content: "";
  width: 83px;
  height: 2px;
  background-color: white;
}

/* container */
.portfolio-container {
  border: 1px solid black;
  padding: 3px;
}

.container-section {
  width: 1080px;
  height: 165px;

  display: flex;
  background-color: white;
  position: relative;
  margin: 10px 0px;
}

.container-section > ul {
  list-style-type: disc;
  color: red;
}

.container-section > ul > li {
  color: red;
}

.img-box {
  width: 280px;
  height: 165px;
  text-align: center;
  background-size: cover;
}

.rest-img {
  background-image: url("/zigzag/images/photo01.png");
}

.craft-img {
  background-image: url("/zigzag/images/photo02.png");
}

.scrap-img {
  background-image: url("/zigzag/images/photo03.png");
}
